<div  class="md:flex items-strech py-8 md:py-10 lg:py-8 border-t border-gray-800">
  <div class="md:w-4/12 2xl:w-1/4 w-full">
    <a routerLink="/product/{{ item.id }}">
    <img  src="{{item.image}}" alt="Black Leather Bag" class="w-36 h-36 object-center  md:block hidden" />
  </a>
  </div>
  <div class="md:pl-3 md:w-8/12 2xl:w-3/4 flex flex-col justify-center">
    <div class="flex items-center justify-between w-full pt-1">
      <p routerLink="/product/{{ item.id }}" class="text-base font-black leading-none text-gray-800">{{item.title}}</p>
      <select #cart  [(ngModel)]="quantity" (ngModelChange)="onChange( item)"  aria-label="Select quantity" class="py-1 px-1.5 mb-3 border border-gray-700 mr-6 focus:outline-none rounded-md">
        <option *ngFor="let i of count"  [ngValue]="i"  [selected]="item.quantity == i">
          {{ i }}
      </option>
      </select>

    </div>
    <p class="text-xs leading-3 text-gray-600  pt-2">{{item.description}}</p>

    <div class="flex items-center justify-between pt-5">
      <div class="flex item-center">

        <button (click)="onRemoveItem(item)" class="text-xs leading-3 underline text-red-500 pl-5 cursor-pointer">Remove</button>
      </div>
      <p class="text-base font-black leading-none text-gray-800 pr-9">{{ item.price | currency: "USD" }}</p>
    </div>
  </div>
</div>
