<div  class="md:flex items-strech py-8 md:py-10 lg:py-8 border-t border-gray-800">
  <div class="md:w-4/12 2xl:w-1/4 w-full">
    <img src="https://i.ibb.co/SX762kX/Rectangle-36-1.png" alt="Black Leather Bag" class="h-full object-center object-cover md:block hidden" />
  </div>
  <div class="md:pl-3 md:w-8/12 2xl:w-3/4 flex flex-col justify-center">
    <div class="flex items-center justify-between w-full pt-1">
      <p class="text-base font-black leading-none text-gray-800 "></p>
      <select aria-label="Select quantity" class="py-1 px-1.5 mb-3 border border-gray-700 mr-6 focus:outline-none rounded-md">
        <option>01</option>
        <option>02</option>
        <option>03</option>
      </select>
    </div>
    <p class="text-xs leading-3 text-gray-600  pt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo delectus enim doloribus laboriosam dolore est cum voluptas a, id inventore autem expedita, maxime itaque explicabo dolor quod, velit nostrum recusandae?</p>

    <div class="flex items-center justify-between pt-5">
      <div class="flex item-center">
        <p class="text-xs leading-3 underline text-gray-600 cursor-pointer">Add to favorites</p>
        <p class="text-xs leading-3 underline text-red-500 pl-5 cursor-pointer">Remove</p>
      </div>
      <p class="text-base font-black leading-none text-gray-800 pr-9">$00</p>
    </div>
  </div>
</div>
